<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="logo" rel="shortcut icon" href="/res/logo-dark.png" type="image">
    <title>МЭЖ - Тест</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/global-button.css' %}">
    <link rel="stylesheet" href="{% static 'uchebnik/test-redact/css/main.css' %}">

    <script>
        let csrf_token = `{{ csrf_token }}`
    </script>

    <script defer src="{% static 'js/global.js' %}"></script>
    <script defer src="{% static 'uchebnik/test-redact/js/index.js' %}"></script>

</head>
<body class="dark-theme" style="background-color: #000000;">
    <div class="bg">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1080">
            <defs>
              <clipPath id="clip-Test_BG">
                <rect width="1920" height="1080"/>
              </clipPath>
            </defs>
            <g id="Test_BG" data-name="Test BG" clip-path="url(#clip-Test_BG)">
              <rect id="Rectangle_1977" data-name="Rectangle 1977" width="128" height="128" transform="translate(-0.411 1080) rotate(-45)" fill="var(--text)" opacity="0.03"/>
              <rect id="Rectangle_1989" data-name="Rectangle 1989" width="128" height="128" transform="translate(1241.589 1080) rotate(-45)" fill="var(--text)" opacity="0.03"/>
              <rect id="Rectangle_1978" data-name="Rectangle 1978" width="64" height="64" transform="translate(152.324 1017.775) rotate(-45)" fill="var(--text)" opacity="0.03"/>
              <rect id="Rectangle_1985" data-name="Rectangle 1985" width="64" height="64" transform="translate(1394.324 1017.775) rotate(-45)" fill="var(--text)" opacity="0.03"/>
              <rect id="Rectangle_1986" data-name="Rectangle 1986" width="64" height="64" transform="translate(1456.549 955.549) rotate(-45)" fill="var(--text)" opacity="0.03"/>
              <rect id="Rectangle_1996" data-name="Rectangle 1996" width="64" height="64" transform="translate(651.775 1020.324) rotate(-45)" fill="var(--text)" opacity="0.03"/>
              <rect id="Rectangle_1995" data-name="Rectangle 1995" width="64" height="64" transform="translate(714 958.098) rotate(-45)" fill="var(--text)" opacity="0.03"/>
              <rect id="Rectangle_1979" data-name="Rectangle 1979" width="328" height="328" transform="translate(214.549 1080) rotate(-45)" fill="var(--text)" opacity="0.03"/>
              <rect id="Rectangle_1984" data-name="Rectangle 1984" width="328" height="328" transform="translate(1456.549 1080) rotate(-45)" fill="var(--text)" opacity="0.03"/>
            </g>
        </svg>
    </div>

    <header>
        <a href="/" class="logo">МЭШ</a>
        <div class="nav">
            <a class="nav-el" href="/">Занятия</a>
            <a class="nav-el" href="/">Успеваемость</a>
            <a class="nav-el" href="/">Чаты</a>
            <a class="nav-el" href="/static/index.html">Документация</a>
        </div>
        <div id="theme-switch" class="theme-switch">
            Темная тема
        </div>
        <div class="user">
            <h1 class="username">
                {{ user.username }}
            </h1>
            <p class="action" id="logout">
                Выйти
            </p>
        </div>
    </header>

    <main>
        <div class="main-header">
            <input id="test-name" class="test-name">
<!--            <h1 id="test-name" class="test-name">-->
<!--                Загрузка теста...-->
<!--            </h1>-->
<!--            <div id="time-remaining" class="time-remaining">-->
<!--                <span>Осталось</span> 4:20-->
<!--            </div>-->
        </div>

        <div class="main-questions">
            <div id="test-nav" class="list">
                <div id="back-button" class="list-el list-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.414" height="10.828" viewBox="0 0 14.414 10.828">
                        <g id="Component_6_1" data-name="Component 6 – 1" transform="translate(1 1.414)">
                            <path id="Path_477" data-name="Path 477" d="M16539.912,2851.6l4,4,4-4" transform="translate(2863.596 -16539.912) rotate(90)" fill="none" stroke="var(--text)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" opacity="1"/>
                            <path id="Path_476" data-name="Path 476" d="M16539.912,2851.6l4,4,4-4" transform="translate(2855.596 -16539.912) rotate(90)" fill="none" stroke="var(--text)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" opacity="1"/>
                        </g>
                    </svg>
                </div>
                <div class="list-el current">1</div>
                <div id="next-button" class="list-el list-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.414" height="10.828" viewBox="0 0 14.414 10.828">
                        <g id="Component_7_1" data-name="Component 7 – 1" transform="translate(1.414 1.414)">
                          <path id="Path_478" data-name="Path 478" d="M16539.912,2851.6l4,4,4-4" transform="translate(-2851.596 16547.912) rotate(-90)" fill="none" stroke="var(--text)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" opacity="1"/>
                          <path id="Path_479" data-name="Path 479" d="M16539.912,2851.6l4,4,4-4" transform="translate(-2843.596 16547.912) rotate(-90)" fill="none" stroke="var(--text)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" opacity="1"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div id="questions-list" class="questions-list">
                <div class="question toleft">
                    <div class="question-body">
                        Загрузка теста...
                    </div>
        
                    <div class="qustion-answer">
                        <input type="text" class="answer-field maximized" placeholder="Ваш ответ">
                        <input type="radiobutton" class="answer-field">
                        <input type="button" class="submit-button unactive" value="Далее">
                    </div>
                </div>

                <div class="question end-question">
                    <div class="question-body">
                        Завершить прохождение теста?
                    </div>
        
                    <div class="qustion-answer">
                        <input id="end-test" type="button" class="submit-button" value="Завершить">
                        <input id="goback-test" type="button" class="end-button" value="Вернуться">
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>