body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
    min-height: calc(100vh - var(--header-height));
    z-index: 0;
}

/* ------ Sideboard ------ */

.side-board{
    background: var(--accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 88px 0px 32px 0px;
    min-height: inherit;
    width: 128px;
    z-index: 1;
}

.day-schedule {
    padding-top: 71px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 32px;
    width: 128px;
}

.lesson-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 256px;
    width: 100%;
    padding: 24px 0;

    background-color: rgba(var(--white-rgb), 0);
}

.lesson-time.no-lessons {
    height: 128px;
}

.lesson-time:hover {
    background-color: rgba(var(--white-rgb), .02);
}

.lesson-time > .time{
    font-weight: 800;
    font-size: 14px;
    color: var(--white);
}

.lesson-time > .line{
    flex: 1;
    width: 2px;
    border-radius: 2px;
    background: var(--white);
    opacity: .16;
    margin: 24px 0;
    height: 100px;
}

/* ------ Main ------ */

.main-content {
    padding-top: 88px;
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.day-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.day-header {
    display: flex;
    align-items: center;
    padding: 0 64px;
    height: 71px;
}

.day-header > .date {
    font-size: 24px;
    font-weight: bold;
    color: var(--accent);
    margin-right: 12px;
}

.day-header > .name {
    position: relative;
    top: 1px;
    font-size: 18px;
    font-weight: bold;
    color: var(--text);
    margin-right: 12px;
}

.lesson-container {
    display: flex;
    height: 256px;
    width: 100%;
    padding: 24px 64px;
    background-color: rgba(var(--text-rgb), .02);

    position: relative;
    left: 0;
    opacity: 1;

    transition: all .4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.lesson-container.no-lessons {
    height: 128px;
}

.lesson-container.hidden {
    left: -64px;
    opacity: 0;
    pointer-events: none;
}

.lesson-container:nth-child(2n+1) {
    background-color: rgba(var(--text-rgb), .01);
}

.lesson-container:hover {
    background-color: rgba(var(--text-rgb), .03);
}

.lesson-description {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 400px;
    padding-right: 64px;
}

.lesson-description > .name {
    font-size: 17px;
    font-weight: bold;
    color: var(--text);
    margin-bottom: 4px;
}

.lesson-description > .topic {
    opacity: .48;
    font-size: 14px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 16px;
}

.lesson-description > .homework {
    font-size: 16px;
    opacity: .64;
    font-weight: 600;
    color: var(--text);
    flex: 1;
    margin-bottom: 12px;
}

.lesson-description > .join-button {
    opacity: 1;
    width: 256px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    background: rgba(var(--text-rgb), 0);
    color: var(--text);
    border: var(--text) 2px solid;
    text-align: center;
    display: grid;
    place-items: center;
    cursor: pointer;

    transition: all .16s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.lesson-description > .join-button:hover {
    background: rgba(var(--text-rgb), 1);
    color: var(--bg);
}

.current .lesson-description > .join-button {
    opacity: 1;
    background: rgba(var(--secondary-rgb), 0);
    color: var(--secondary);
    border: var(--secondary) 2px solid;
}

.current .lesson-description > .join-button:hover {
    background: rgba(var(--secondary-rgb), 1);
    color: var(--white);
}

.lesson-description > .join-button.locked {
    cursor: not-allowed;
    opacity: .32;
}

.lesson-tests {
    /* background-color: black; */
    height: 100%;
    flex: 1;
    display: flex;
}