.markdatabox {
    width: 70%;
    white-space: nowrap;

}

.markdatabox-h1 {
    font-size: 32px;
    font-weight: bold;
    padding: 5% 0;
}

.markdatabox-h2 {
    font-size: 32px;
    font-weight: bold;
    padding-left: 7%;
}


.markdatabox-biodetails {
    -ms-flex-align: center;
    color: #707070;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding-left: 7%;
}

.markdatabox-bio {
    -ms-flex-align: center;
    padding-left: 5%;
}

.main-page-button {
    max-height: 48px;
    color: var(--text);
    margin-left: 3%;
    outline: none;
    background-color: rgba(var(--accent-rgb), 0);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 40px;
    border: rgba(var(--accent-rgb), 1) 2px solid;
    transition: all .16s cubic-bezier(0.215, 0.610, 0.355, 1);
}